.place__title {
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  line-height: 76px;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
