.footer__menu-item {
  padding: 0 18px 0 0;
}

.footer__menu-item:last-of-type {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__menu-item {
    line-height: 24px;
    font-size: 24px;
    padding-right: 0;
    padding-bottom: 32px;
  }
}
