.footer__link {
  font-weight: 400;
  opacity: 1;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
}

.footer__link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.21;
}

@media screen and (max-width: 767px) {
  .footer__link {
    line-height: 24px;
    font-size: 24px;
  }
}
