.place__link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  opacity: 1;
}

.place__link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.21;
}
